{% extends 'base.html.twig' %}

{% block title %} details de l'article #{{ article.id }} {% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
{% endblock %}