<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href={{asset('css/bootstrap.css')}} />
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href={{ path("list_article")}}>Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path("list_author")}}>Auteurs</a>
                </li>
            </ul>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
